/* Global Styles */
a {
  color: red ;
}
body {
  font-family: helvetica, arial, sans;
}
h1 {
  font-size: 7vw;
  margin-top: 0;
  /*font-size: 7vw;*/
}

/* Header Styles */
.header {
  background-color: #000;
  color: #fff;
}

.header-logo {
  background-color: #000;
  box-sizing: border-box;
  display: block;
  height: 8vh;
  padding-top: 1vh;
  position: relative;
  text-align: center;
  width: 10vh;
}

.header-logo:hover,
.header-logo:active {
  opacity: 0.5;
}

.header-logo img {
  width: 6vh;
}

.header-nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}

.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}

.header-nav > li ~ li {
  border-left: 2px solid rgba(255,255,255,0.3);
  padding-left: 1em;
}

.header-nav a {
  color: #000;
  font-size: .8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.header-nav a:hover,
.header-nav a:active {
  color: #ed6e2f;
}


.header-nav > li:first-child a {
  color: #ed6e2f;
}

.header-nav > li:first-child a:hover,
.header-nav > li:first-child a:active
{
  color: #fff;
}





/* Hero Styles */
.full-hero {
  background-color: #c7dbfc;
  height: 50vh;
}

/* Social Styles */
.social-link {
  background: rgba(150,150,150,0.5);
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  padding-top: 0.85em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 2.5em;
}

.social-list {
  list-style: none;
  padding: 0;
  text-align: center
}

.social-list > li {
  display: inline-block;
  margin: 0 0.5em
}

/* Bio Styles */
.bio-wrapper {
  font-size: 24px;
  margin: auto;
  max-width:960px;
  overflow: hidden;
}
.bio-box {
  border: 1px solid black;
  border-color: transparent black red transparent;
  border-width: 0px 5px 10px 0;
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 40px 1% 0;
  padding: 0 2% 2%;
  width: 23%;
  /*overflow: scroll;*/
  /*height: 50vh;*/
}
.bio-box h3 {
  color: white;
  font-size: 1.25em;
  margin: -40px 0 1em;
  text-align: center;
}
.bio-copy a {
  color: green;
}
.bio-copy {
  font-size: 1em;
  line-height: 1.5;
}
.bio-box img {
  width: 100%;
}

/*General Styles*/

h2 + p {
  font-size: 0.8em;
  font-style: italic;
  margin: 1em auto 0;
  max-width: 70%;
  text-align: center;
}