/* Global Styles */
html {
  box-shadow: 0 0 0 30px #000 inset;
  padding: 0 30px;
}
a {
  color: red ;
}
body {
  display: flex;
  flex-direction: column;
  font-family: helvetica, arial, sans;
  min-height: 100vh;
}
h1 {
  font-size: 7vw;
  margin-top: 0;
}
h2 {
  font-size: 2em;
}
a {
  color: #6397b5;
}
p {
  line-height: 1.5;
  margin: 0.75em 0;
}
.content-container{
  flex: 1 1 auto;
  padding-top: 10vh;
  width: 100%;
}

/*Nav Links*/
.nav-links a {
  font-size: .8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links a:hover,
.nav-links a:active {
  color: #ed6e2f;
}

/* Header Styles */
.header {
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-logo {
  background-color: #000;
  box-sizing: border-box;
  display: block;
  height: 10vh;
  left: -30px;
  padding-top: 1vh;
  position: relative;
  text-align: center;
  width: 10vh;
}
.header-logo:hover,
.header-logo:active {
  opacity: 0.5;
}
.header-logo img {
  width: 8vh;
}
.header-nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 2px solid rgba(255,255,255,0.3);
  padding-left: 1em;
}
.header-nav a {
  color: #fff;
}
.header-nav > li:first-child a {
  color: #ed6e2f;
}
.header-nav li:first-child a:hover,
.header-nav > li:first-child a:active
{
  color: #fff;
}

/* Hero Styles */
.full-hero {
  background-color: #c7dbfc;
  background-size: cover;
  box-sizing: border-box;
  height: 90vh;
  padding-top: 11vh;
}
.full-hero:after {
  border: 10px solid;
  border-color: #fff  transparent transparent;
  bottom: 2vh;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%, 0);
  width: 0;
}
.hero-home{
  background-image: url(/img/shark.jpg);
  background-position: center top;
}
.hero-content {
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(0, -50%);
}
.hero-content h1 {
  color: rgba(255,255,255,0.8);
  font-size: 7vw;
  margin-bottom: 0.25em;
}
.hero-content .social-link {
  background-color: rgba(255,255,255,0.8);
  color: #557c83;
}
hero-content .social-link:hover {
  background-color: #000;
  color: #fff;
}

/* Homepage Styles */
.home-section {
  margin: 6rem auto;
  max-width: 980px;
  width: 90vw;
}
.home-section h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.home-callout {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 7vh 0;
}
.home-callout h3 {
  color: inherit;
  margin-top: 1em;
}
.callout-title {
  flex: 1;
  font-size: 5.75vw;
  text-align: right;
  text-transform: uppercase;
}
.callout-copy {
  flex: 0 0 45em;
  font-size: 0.8rem;
  padding: 0 3vw;
}
/* Social Styles */
.social-link {
  background: rgba(150,150,150,0.5);
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  padding-top: 0.85em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 2.5em;
}
.social-list {
  list-style: none;
  padding: 0;
  text-align: center
}
.social-list > li {
  display: inline-block;
  margin: 0 0.5em
}

/* Bio Styles */
.bio-wrapper {
  font-size: 24px;
  margin: auto;
  max-width:960px;
  overflow: hidden;
}
.bio-box {
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
  margin: 6rem 0 0;
  padding: 0 3%;
  width: 33%;
  /*overflow: scroll;*/
  /*height: 50vh;*/
}
.bio-box h3 {
  color: #ffffff;
  font-size: 1.5em;
  margin: -40px 0 1em;
  text-align: center;
  text-transform: uppercase;
}
.bio-copy a {
  color: green;
}
.bio-copy {
  font-size: 1em;
  line-height: 1.5;
}
.bio-box img {
  width: 100%;
}
.bio-box .social-link {
  display: block;
  margin: 2em auto 1em;
}
.bio-copy {
  font-size: 0.75em;
}
/*General Styles*/
h2 + p {
  font-size: 0.8em;
  font-style: italic;
  margin: 1em auto 0;
  max-width: 70%;
  text-align: center;
}

/*Footer Styles*/
.footer {
  background-color: #000;
  padding: 10vh 0 15vh;
  text-align: center;
 }
.footer .social-list{
  margin-top: 20px;
}

.footer-logo img {
  width: 8vh;
}
.footer-logo:hover,
.footer-logo:active {
  opacity: 0.5;
}
.footer h3 {
  color: #fff;
  padding-top: 1.5em;
  text-transform: uppercase;
}
.footer h3 span {
  color: #aaa;
}
.footer-nav li {
  display: inline-block;
  margin: 2em 1em 0;
}
.footer-nav a {
  color: #ccc;
}